.text-section {
    padding: 80px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-section__content {
    font-family: 'Clash ClashDisplay-Regular', sans-serif;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 1200px;
    margin: 0;
    color: #fff;
}

.text-section__highlighted {
    color: #7243E8;
}

/* RWD */
@media (max-width: 1440px) {
    .text-section__content {
        font-size: 56px;
    }
}

@media (max-width: 1080px) {
    .text-section__content {
        font-size: 48px;
    }
}

@media (max-width: 390px) {
    .text-section {
        padding: 40px 0;
    }
    
    .text-section__content {
        font-size: 36px;
    }
}