 /* Video background */
 .background-video-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 100%;
    z-index: -1;
    overflow: hidden;

}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.background-video-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(55.01% 51.34% at 50.87% 45.06%, rgba(15, 18, 25, 0) 37.7%, #0F1219 100%);
   
}

@media (max-width: 1440px) {
    .background-video-wrapper {
        width: 100%;
    }
}